<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-medical-repport-heading">Create or edit a Medical Repport</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_typeOfRepport">Type Of Repport</label>
                    <input type="text" class="form-control" name="typeOfRepport" id="field_typeOfRepport"
                           formControlName="typeOfRepport"/>
                    <div *ngIf="editForm.get('typeOfRepport')!.invalid && (editForm.get('typeOfRepport')!.dirty || editForm.get('typeOfRepport')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('typeOfRepport')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_result">Result</label>
                    <input type="text" class="form-control" name="result" id="field_result"
                           formControlName="result"/>
                    <div *ngIf="editForm.get('result')!.invalid && (editForm.get('result')!.dirty || editForm.get('result')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('result')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_medicalRepportPatient">Medical Repport Patient</label>
                    <select class="form-control" id="field_medicalRepportPatient" name="medicalRepportPatient" formControlName="medicalRepportPatient">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="patientOption.id === editForm.get('medicalRepportPatient')!.value?.id ? editForm.get('medicalRepportPatient')!.value : patientOption" *ngFor="let patientOption of patients; trackBy: trackById">{{ patientOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
