<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="doctor">
            <h2><span>Doctor</span> {{ doctor.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Lastname</span></dt>
                <dd>
                    <span>{{ doctor.lastname }}</span>
                </dd>
                <dt><span>Firstname</span></dt>
                <dd>
                    <span>{{ doctor.firstname }}</span>
                </dd>
                <dt><span>Title</span></dt>
                <dd>
                    <span>{{ doctor.title }}</span>
                </dd>
                <dt><span>Experience</span></dt>
                <dd>
                    <span>{{ doctor.experience }}</span>
                </dd>
                <dt><span>Age</span></dt>
                <dd>
                    <span>{{ doctor.age }}</span>
                </dd>
                <dt><span>Type Of Speciality</span></dt>
                <dd>
                    <span>{{ doctor.typeOfSpeciality }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/doctor', doctor.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
